@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
h1{text-transform: capitalize;
letter-spacing: 3px;
font-size: 4.5rem;
color: #e37076;
text-shadow: -20px 11px 13px #a7093e;
text-align: center;
font-family: 'Parisienne', cursive;
}
body{font-family: 'Parisienne', cursive;
    color:#ed8dfd ;
    text-transform: capitalize;
    font-size: 2.5rem;
    text-align: center;
    background: url(./assets/bj.jpg) no-repeat fixed center/cover; 
    height: 120vh;
}
p{font-family: 'Dancing Script', serif;
    color:#f33d03d1;
    font-size: 3.5rem; 
}
main{ background: #d77193 ;
width: 80%;
min-height: 155px;
margin: 10px auto;
padding: 20px 40px;
border-radius: 50px;
box-shadow:-20px 12px 4px 2px rgb(137, 43, 226) ;
border: 9px solid salmon;
}
.positioning{background: indianred;
    border: 9px solid salmon;
    border-radius: 50px;
    padding: 65px;
    margin-top: 20px ;
position: relative;
}
h2{
    margin: 0;
}
span{
    margin: 0;
    padding: 0;
}
#circle{
    height: 46px;
    width: 129px;
    background: #a7093e;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    top: 125px;
    right: 198px;
    box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.49);
}